* {
  margin: 0;
  padding: 0;
}

.main {
  max-width: 900px;
  margin: auto;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr;
}

.authors-content {
  max-width: 900px;
  margin: auto;
  margin-top: 40px;
}

.authors-content__heading {
  font-family: "Comic Sans MS", cursive;
  font-size: 24px;
}

.authors-content-container {
  display: grid;
  justify-content: center;
  align-items: baseline;
  grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
  grid-column-gap: 85px;
}


.authors-content__elisabeth {
  width: 400px;
}

.authors-content__eric {
  width: 400px;
}

.authors-content__eric-photo {
  width: 400px;
}

.list-content {
  max-width: 900px;
  margin: auto;
}

.list-content-summary__heading {
  font-family: "Comic Sans MS", cursive;
  font-size: 24px;
  text-align: center;
  margin: 20px;
}

.list-content-summary__container {
  max-width: 900px;
}

.list-content-summary__element {
  max-width: 500px;
}

.list-content-summary__item_float {
  float: right;
}

.list-content-summary__item_style {
  list-style: none;
}

.list-content-summary__item {
  list-style: none;
}

.text-content {
  max-width: 900px;
  margin: auto;
}

.text-content-component {
  max-width: 900px;
  margin: auto;
}

.text-content-component__heading {
  font-family: "Comic Sans MS", cursive;
  font-size: 24px;
  text-align: center;
  margin: 20px;
}

.text-content-component__subheading {
  font-size: 20px;
}

.text-content__paragraph {
  font-size: 16px;
  max-width: 860px;
  margin-bottom: 20px;
}

.text-content-component__container {
  max-width: 900px;
}

.text-content-component_float {
  float: right;
}

.text-content-component__element {
  list-style: none;
  /* max-width: 500px; */
  margin-bottom: 50px;
}


/*если не в браузере не поддерживается grid*/
@supports not (display: grid) {
  /*задаются стили flex*/
  .authors-content-container {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .list-content-summary__container {
    max-width: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .text-content-component__container {
    max-width: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}


/* если в браузере не поддерживается flex
@supports not (display: flex) {
  .main {
    max-width: 900px;
    margin: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
  }
  .authors-content-container {
    display: grid;
    justify-content: center;
    align-items: baseline;
    grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
    grid-column-gap: 85px;
  }
} 
*/